.slider-container {
  position: relative;
  overflow: hidden;
}

.slick-slide {
  position: relative;
}

.slick-slide img {
  transition: transform 0.3s ease;
  padding: 0 11px;
}

.slick-slide:not(.slick-center) .image-slide {
  top: 0;
  position: absolute;
  z-index: -1;
}

.arrows {
  margin-inline: 100px;
  margin-top: 20px;
  color: #000000;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 12px;
  padding-inline: 13px;
  z-index: 3;
  background-color: #9DA29966;
  cursor: pointer;
}

.arrows.prev {
  left: 10px;
}

.arrows.next {
  right: 10px;
}
.arrow {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: -30px;
  display: block !important;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;

    button:before {
      font-size: 10px;
      color: grey;
      opacity: 0.75;
    }
  }
}
