.pass{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid black;

  input{
    outline: none;
    background-image: url("./../../../assets/key.svg");
    background-repeat: no-repeat;
    background-position: 10px 19px;
    width: 367px;
    padding: 15px 45px;
  }
}