.arrowse{
  margin-inline: 100px;
  margin-top: 0px;
  color: #000000;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 12px;
  padding-inline: 13px;
  z-index: 3;
  background-color: #F8DAB2;
  cursor: pointer;
}
.arrowse.prev {
  left: 10px;
}

.arrowse.next {
  right: 10px;
}
.arrow {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: -30px;
  display: block !important;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;

    button:before {
      font-size: 7px;
      color: rgb(253 186 116);
      opacity: 0.75;
    }
  }
}
.slick-dots li.slick-active button:before {
  color: rgb(249 115 22);
}

